extends layout

block content
  h1= title

  table.type01
    tbody
      -for(var i=0; i<border_json.length; i++)
        tr
          th(scope='row') #{border_json[i].Record.tittle}
          td #{border_json[i].Record.content}
          td(style='width : 40px; border-left:hidden; padding-left:-30px')
              a(href='/repair?border_id=#{border_json[i].Key}&border_title=#{border_json[i].Record.tittle}&border_content=#{border_json[i].Record.content}', style='width:100%;  margin:-20px; padding:-10px; color: #BDBDBD;') 수정
          td(style='width : 40px; border-left:hidden; padding-left:-30px')
              a(href='/remove?border_id=#{border_json[i].Key}', style='width:100%; margin:-20px; padding:-10px; color: #BDBDBD;') 삭제
  .wrap
    a.button(href='createbord') 글 작성
