extends layout


block content

  script(language='javascript').
    function check(chkbox) {
      if (chkbox.checked == true) {
        alert("ORG1 SELECT");
        location.href = document.location.href.substring(0,document.location.href.indexOf("?"))+"?user=user1";
      } else {
        location.href = document.location.href.substring(0,document.location.href.indexOf("?")) + "?user=user3";
        alert("ORG3 SELECT");
      }
    }

  h1= title
  table.type01(style='margin-top:-40px')
    tbody
      tr
        th(scope='row' style='border-left:hidden; border-top:hidden;')
          td(style='border-left:hidden; border-top:hidden;')
          td(style='width : 40px; border-left:hidden; border-top:hidden; padding-left:-30px')
          td(style='width : 40px; border-left:hidden; border-top:hidden; border-right:hidden; padding-left:-30px')
            label.switch
              if(user=='user1')
                input(type='checkbox' checked onClick="check(this);")
              else
                input(type='checkbox' onClick="check(this);")
              span.slider.round

      -for(var i=0; i<board_json.length; i++)
        tr
          th(scope='row') #{board_json[i].Record.tittle}
          td #{board_json[i].Record.content}
          td(style='width : 40px; border-left:hidden; padding-left:-30px')
              a(href='/repair?board_id=#{board_json[i].Key}&board_title=#{board_json[i].Record.tittle}&board_content=#{board_json[i].Record.content}', style='width:100%;  margin:-20px; padding:-10px; color: #BDBDBD;') 수정
          td(style='width : 40px; border-left:hidden; padding-left:-30px')
              a(href='/delete?board_id=#{board_json[i].Key}', style='width:100%; margin:-20px; padding:-10px; color: #BDBDBD;') 삭제
  .wrap
    a.button(href='createboard') 글 작성
