extends layout

block content
  h1= title

  table.type01
    tbody
      -for(var i=0; i<board_json.length; i++)
        tr
          th(scope='row') #{board_json[i].Record.tittle}
          td #{board_json[i].Record.content}
          td(style='width : 40px; border-left:hidden; padding-left:-30px')
              a(href='/repair?board_id=#{board_json[i].Key}&board_title=#{board_json[i].Record.tittle}&board_content=#{board_json[i].Record.content}', style='width:100%;  margin:-20px; padding:-10px; color: #BDBDBD;') 수정
          td(style='width : 40px; border-left:hidden; padding-left:-30px')
              a(href='/delete?board_id=#{board_json[i].Key}', style='width:100%; margin:-20px; padding:-10px; color: #BDBDBD;') 삭제
  .wrap
    a.button(href='createboard') 글 작성
